<div id="gilded__rose">
  <div id="gilded__rose__props">
    <h1>Current Day {{ currentDate() }}</h1>
    <div>
      <label for="gilded__rose__item">Item</label>
      <input [(ngModel)]="currentItem.name" type="text" id="gilded__rose__item" />
    </div>
    <div class="error name-error">{{ currentItemErrors.name }}</div>

    <div>
      <label for="gilded__rose__props__sellin">Sell By</label>
      <input [(ngModel)]="currentItem.sellIn" type="text" placeholder="mm/dd/yyyy" id="gilded__rose__props__sellin" />
    </div>
    <div class="error sellIn-error">{{ currentItemErrors.sellIn }}</div>

    <div>
      <label for="gilded__rose__props__quality">Quality</label>
      <input [(ngModel)]="currentItem.quality" type="number" id="gilded__rose__props__quality" />
    </div>
    <div class="error quality-error">{{ currentItemErrors.quality }}</div>

    <div>
      <button (click)="addItem()" id="gilded__rose__add">Add Item</button>
      <button (click)="updateQuality()" id="gilded__rose__update">Next Day</button>
    </div>
  </div>
  <div id="gilded__rose__items">
    <h1>Shop</h1>
    <div *ngFor="let item of getItems()">
      <div class="gilded__rose__item">
        {{ item.name }} {{ round(item.sellIn) }} Days Left - {{ item.quality }} Quality
      </div>
    </div>
  </div>
</div>